<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OraclePerfTest.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <section name="oracle.manageddataaccess.client"
            type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <OraclePerfTest.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value>211.171.200.81</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>5521</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>ALADIN</value>
            </setting>
            <setting name="DatabaseId" serializeAs="String">
                <value>MANNA</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>Ekswnr59</value>
            </setting>
            <setting name="UserCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QueryRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="OpenRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Query1" serializeAs="String">
                <value>SELECT /*+ LEADING(A) INDEX(A MN_A1_TODAY_IX_4) USE_NL(B) INDEX(B MN_A1_TODAY_ADD_PK) NLJ_BATCHING */
       A.ORD_NO ,
       A.ORD_TODAY_NO,
       A.ORD_TODAY_ADD_NO,
       A.ORD_TODAY_ALL_NO,
       A.ORD_TYPE_CD,
       A.ORD_STATUS_CD ,
       A.ORD_DATE,
       A.MOD_DATE,
       A.PICKUP_DATE,
       A.TAKEOUT_DATE,
       A.END_DATE ,
       A.ORD_CU_TEL,
       A.ORD_CU_END_CNT,
       A.EA_ADDR_4,
       A.DVRY_DISTANCE,
       A.DVRY_AMT ,
       A.ORD_AMT,
       A.DISCOUNT_AMT,
       A.SRV_AMT,
       A.CHARGE_TYPE,
       A.PAY_TYPE_CD ,
       A.PAY_AMT,
       A.PAY_MILEAGE,
       B.TRAN_TYPE,
       A.CTH_WK_NAME,
       A.CTH_WK_TEL ,
       A.ORD_MEMO,
       B.CTH_ST_NAME,
       A.DVRY_CNT,
       A.ORD_PATH_CD,
       B.CTH_ST_TEL ,
       B.ORD_CU_NAME,
       A.TAKEOUT_YN,
       A.ORD_ST_CODE,
       A.ORD_ST_NAME,
       A.DVRY_TYPE_CD ,
       A.XY_ACC_TYPE,
       A.EA_ADDR_5,
       A.READY_TIME,
       A.GOODS_NAMES,
       A.ORG_PAY_TYPE ,
       A.CASH_MOVE_CNT,
       A.CASH_MOVE_AMT,
       B.ORD_BR_CODE,
       A.EA_ADDR_6,
       A.EA_ADDR_7 ,
       A.PUT_USER_ID,
       B.CTH_BR_CODE,
       B.CTH_ST_CODE,
       A.CTH_WK_ARR_TIME,
       A.CTH_DATE ,
       A.READY_CHANGE_DATE,
       A.CTH_DVRY_TYPE_CD,
       A.DVRY_LOCK_TIME,
       A.ST_DVRY_TYPE_CD,
       B.ORD_CU_MULTI_END_CNT ,
       A.DVRY_EX_CHARGE,
       A.DVRY_MNG_TYPE,
       A.DVRY_MNG_FEE,
       B.VAN_TYPE_CD,
       B.CARD_APPR_NUM ,
       A.MOD_USER_ID,
       B.ORD_MASTER_ST_CODE,
       B.CTH_MNG_BR_CODE,
       B.CTH_MNG_HD_CODE,
       B.ORD_HD_CODE ,
       A.EA_ADDR_MOD_CNT,
       A.CTH_WK_ARR_DATE,
       A.READY_CTH_YN,
       A.CALL_ST_CODE,
       A.SA_LAT_Y ,
       A.SA_LNG_X,
       A.CANCEL_DATE,
       A.SA_APP_ADDR,
       A.POS_ORD_CODE,
       B.EA_ADDR_10 ,
       A.CTH_WK_CODE,
       B.ACQUIRER_NAME,
       A.EA_LAT_Y,
       A.EA_LNG_X,
       B.ORD_BR_NAME ,
       A.CU_050_NUM ,
       TO_CHAR(A.ORD_DATE, 'YYYYMMDDHH24MISS') AS CUSTOM_ORD_DATE ,
       TO_CHAR(A.READY_CHANGE_DATE, 'YYYYMMDDHH24MISS') AS CUSTOM_READY_CHANGE_DATE ,
       TO_CHAR(A.CTH_WK_ARR_DATE, 'YYYYMMDDHH24MISS') AS CUSTOM_CTH_WK_ARR_DATE ,
       TO_CHAR(A.PICKUP_DATE, 'YYYYMMDDHH24MISS') AS CUSTOM_PICKUP_DATE ,
       TO_CHAR(A.END_DATE, 'YYYYMMDDHH24MISS') AS CUSTOM_END_DATE ,
       TO_CHAR(A.CANCEL_DATE, 'YYYYMMDDHH24MISS') AS CUSTOM_CANCEL_DATE ,
       TO_CHAR(A.CTH_DATE, 'YYYYMMDDHH24MISS') AS CUSTOM_CTH_DATE ,
       TO_CHAR(A.MOD_DATE, 'YYYYMMDDHH24MISS') AS CUSTOM_MOD_DATE ,
       TO_CHAR(A.MOD_DATE, 'YYYYMMDDHH24MISSFF3') AS CUSTOM_MOD_DATE_FF3 ,
       TRUNC(A.DVRY_DISTANCE / 1000, 1) AS CUSTOM_DVRY_DISTANCE ,
       B.EA_ADDR_STR ,
       A.ORG_ORD_NO,
       A.ORG_ORD_PATH_CD ,
       B.VAN_TYPE_STR AS ARR_VAN_TYPE_CD ,
       TO_CHAR(A.PUT_DATE, 'YYYYMMDDHH24MISS') AS CUSTOM_PUT_DATE,
       A.ORD_DATA_YN ,
       A.DVRY_TAX_YN,
       A.DVRY_NLT_TYPE,
       B.ST_DVRY_HD_CODE,
       B.ST_DVRY_BR_CODE,
       A.CHARGE_HISTORY ,
       A.ARR_TIME,
       A.DVRY_GRP_TYPE,
       A.ORD_ST_TEL,
       A.PRE_CTH_YN,
       A.CTH_WK_GOODS_PAY_TYPE ,
       A.MOD_SEQ_NO,
       A.EXT_ORD_NO
  FROM MN_A1_TODAY A,
       MN_A1_TODAY_ADD B
 WHERE A.ORD_NO = B.ORD_NO
   AND A.ORD_DATA_YN = 'Y'
   AND A.MOD_DATE &gt;= sysdate-:1/(24*60*60);</value>
            </setting>
            <setting name="UseQuery1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QueryArguments1" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FetchSize1" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="Weight1" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UseQuery2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Query2" serializeAs="String">
                <value>SELECT ST_CODE ,
       ST_NAME,
       DATA_STATUS,
       USER_ID,
       PUT_DATE,
       CASH_ST ,
       AUTH_TEL,
       VAN_TYPE_NAME,
       BR_CODE,
       BR_NAME,
       HD_CODE ,
       HD_NAME,
       IMG_TITLE_FILE,
       IMG_HOME_FILE,
       TERMS_YN,
       BR_MASTER_YN ,
       BAROGO_YN,
       VAN_TMN_ID,
       MULTI_TYPE,
       CHARGE_POS_YN ,
       POS_TYPE_NAME,
       POS_CON_YN,
       POS_SHOP_CODE,
       DVRY_TYPE_NAME,
       DVRY_TAX_YN ,
       CHARGE_DAY_POS,
       CHARGE_DVY_ST,
       CHARGE_DAY_DVY,
       CASH_OSTD,
       BIZNUM_AUTH_DATE,
       VAN_TYPE_STR,
       BIZNUM_AUTH_TYPE ,
       BIZ_FILE_TYPE
  FROM (SELECT ST_CODE ,
               ST_NAME,
               DATA_STATUS,
               USER_ID,
               PUT_DATE,
               CASH_ST ,
               AUTH_TEL,
               VAN_TYPE_NAME,
               BR_CODE,
               BR_NAME,
               HD_CODE ,
               HD_NAME,
               IMG_TITLE_FILE,
               IMG_HOME_FILE,
               TERMS_YN,
               BR_MASTER_YN ,
               BAROGO_YN,
               VAN_TMN_ID,
               MULTI_TYPE,
               CHARGE_POS_YN ,
               POS_TYPE_NAME,
               POS_CON_YN,
               POS_SHOP_CODE,
               DVRY_TYPE_NAME,
               DVRY_TAX_YN ,
               CHARGE_DAY_POS,
               CHARGE_DVY_ST,
               CHARGE_DAY_DVY,
               CASH_OSTD,
               BIZNUM_AUTH_DATE,
               VAN_TYPE_STR,
               BIZNUM_AUTH_TYPE ,
               DECODE(BIZ_FILE, 0, '미첨부', '첨부') AS BIZ_FILE_TYPE ,
               ROWNUM RN
          FROM (SELECT /*+ FULL(A) INDEX(B MN_GR_USER_IX_4) USE_NL(B A) */A.ST_CODE ,
                       A.ST_NAME,
                       A.DATA_STATUS,
                       B.USER_ID,
                       A.PUT_DATE,
                       A.CASH_ST ,
                       A.AUTH_TEL,
                       FN_SY_GET_CODE_NAME ('0001' , 'VT', A.VAN_TYPE_CD) AS VAN_TYPE_NAME,
                       C.BR_CODE,
                       C.BR_NAME,
                       D.HD_CODE ,
                       D.HD_NAME,
                       E.IMG_TITLE_FILE,
                       E.IMG_HOME_FILE,
                       E.TERMS_YN,
                       A.BR_MASTER_YN ,
                       E.BAROGO_YN,
                       A.VAN_TMN_ID,
                       E.MULTI_TYPE,
                       A.CHARGE_POS_YN ,
                       FN_SY_GET_CODE_NAME ('0001' , 'PT', E.POS_TYPE_CD) AS POS_TYPE_NAME,
                       E.POS_CON_YN,
                       E.POS_SHOP_CODE,
                       DECODE(E.DVRY_TYPE_CD, '1000', '만나기본배송그룹', FN_SY_GET_CODE_NAME ('0001' , 'O8', E.DVRY_TYPE_CD)) AS DVRY_TYPE_NAME,
                       E.DVRY_TAX_YN ,
                       A.CHARGE_DAY_POS,
                       A.CHARGE_DVY_ST,
                       A.CHARGE_DAY_DVY,
                       A.CASH_OSTD,
                       A.BIZNUM_AUTH_DATE,
                       A.VAN_TYPE_STR,
                       A.BIZNUM_AUTH_TYPE ,
                       (SELECT /*+ no_merge */COUNT(*)
                          FROM MN_GR_ST_UPLOAD
                         WHERE DATA_STATUS = '1'
                           AND ST_CODE = A.ST_CODE
                           AND FILE_TYPE = '1') AS BIZ_FILE
                  FROM MN_GR_ST A INNER JOIN MN_GR_USER B ON A.ST_CODE = B.ST_CODE INNER JOIN MN_GR_BR C ON A.BR_CODE = C.BR_CODE INNER JOIN MN_GR_HD D ON A.HD_CODE = D.HD_CODE INNER JOIN MN_GR_ST_ADD E ON A.ST_CODE = E.ST_CODE
                 WHERE B.USER_TYPE_CD = '3000'
                   AND A.DATA_STATUS != '0'
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND A.DATA_STATUS = NULL ) )
                   AND A.PUT_DATE &gt;= TO_DATE('20160401' || '000000', 'YYYYMMDDHH24MISS')
                   AND A.PUT_DATE &lt; (TO_DATE('20190825' || '000000', 'YYYYMMDDHH24MISS') + 1)
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND A.HD_CODE = NULL ) )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND A.BR_CODE = NULL ) )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL = '1'
                                   AND UPPER(A.ST_NAME) LIKE '%' || UPPER(NULL ) || '%')
                            OR (NULL = '2'
                                   AND UPPER(A.ST_CODE) LIKE '%' || UPPER(NULL ) || '%')
                            OR (NULL = '3'
                                   AND UPPER(C.BR_NAME) LIKE '%' || UPPER(NULL ) || '%')
                            OR (NULL = '4'
                                   AND UPPER(C.BR_CODE) LIKE '%' || UPPER(NULL ) || '%')
                            OR (NULL = '5'
                                   AND UPPER(D.HD_NAME) LIKE '%' || UPPER(NULL ) || '%')
                            OR (NULL = '6'
                                   AND UPPER(D.HD_CODE) LIKE '%' || UPPER(NULL ) || '%')
                            OR (NULL = '7' 
                                   AND UPPER(E.MKT_TAKER) LIKE '%' || UPPER(NULL ) || '%')
                            OR (NULL = '8'
                                   AND A.AUTH_TEL LIKE '%' || NULL || '%')
                            OR (NULL = '9'
                                   AND A.BIZ_NUM LIKE '%' || NULL || '%') )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND E.ST_ADDR_4 LIKE '%' || NULL || '%') )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND E.TERMS_YN = NULL ) )
                   AND ( (NULL IS NULL
                                    OR NULL IS NULL
                                   AND 1 = 1)
                            OR ( NULL IS NOT NULL
                                   AND NULL IS NOT NULL
                                   AND NULL = 'C1'
                                   AND INSTR(E.ORD_CATEGORY, NULL || ', ') &gt; 0 )
                            OR ( NULL IS NOT NULL
                                   AND NULL IS NOT NULL
                                   AND NULL = 'P2'
                                   AND INSTR(E.PRE_CATEGORY, NULL || ', ') &gt; 0 ) )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND NULL = '0'
                                   AND (E.DVRY_TYPE_CD = ''
                                            OR E.DVRY_TYPE_CD IS NULL) )
                            OR (NULL IS NOT NULL
                                   AND NULL != '0'
                                   AND E.DVRY_TYPE_CD = NULL ) )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND NULL = 'Y'
                                   AND A.CHARGE_POS_YN = 'Y'
                                   AND E.MULTI_TYPE != 'S'
                                   AND A.CHARGE_S_DAY_POS &lt;= TO_CHAR(SYSDATE, 'YYYYMMDD') )
                            OR (NULL IS NOT NULL
                                   AND NULL = 'P'
                                   AND A.CHARGE_POS_YN = 'Y'
                                   AND E.MULTI_TYPE != 'S'
                                   AND A.CHARGE_S_DAY_POS &gt;= TO_CHAR(SYSDATE + 1, 'YYYYMMDD') )
                            OR (NULL IS NOT NULL
                                   AND NULL = 'N'
                                   AND A.CHARGE_POS_YN = 'N'
                                   AND E.MULTI_TYPE != 'S' ) )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND NULL = 'Y'
                                   AND A.CHARGE_USE_YN = 'Y'
                                   AND A.CHARGE_S_DAY_USE &lt;= TO_CHAR(SYSDATE, 'YYYYMMDD') )
                            OR (NULL IS NOT NULL
                                   AND NULL = 'P'
                                   AND A.CHARGE_USE_YN = 'Y'
                                   AND A.CHARGE_S_DAY_USE &gt;= TO_CHAR(SYSDATE + 1, 'YYYYMMDD') )
                            OR (NULL IS NOT NULL
                                   AND NULL = 'N'
                                   AND A.CHARGE_USE_YN = 'N' ) )
                   AND ( (NULL IS NULL
                                   AND 1 = 1 )
                            OR (NULL IS NOT NULL
                                   AND D.SERVICE_YN = NULL ) )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR ( NULL IS NOT NULL
                                   AND NULL = '1'
                                   AND A.ST_CODE IN(SELECT ST_CODE
                                          FROM (SELECT /*+ no_merge */ST_CODE,
                                                       SUM(DVRY_PATH_4_CNT + DVRY_PATH_5_CNT + DVRY_PATH_9_CNT) DVRY_CNT
                                                  FROM MN_ST_ST_SALE_DAILY
                                                 WHERE LOG_DATE &gt;= TO_CHAR(SYSDATE - 2, 'YYYYMMDD')
                                                 GROUP BY ST_CODE)
                                         WHERE DVRY_CNT &gt; 1 ) )
                            OR ( NULL IS NOT NULL
                                   AND NULL = '2'
                                   AND A.ST_CODE IN(SELECT ST_CODE
                                          FROM (SELECT /*+ no_merge */ST_CODE,
                                                       SUM(DVRY_PATH_1_CNT) DVRY_PATH_1_CNT
                                                  FROM MN_ST_ST_SALE_DAILY
                                                 WHERE LOG_DATE &gt;= TO_CHAR(SYSDATE - 2, 'YYYYMMDD')
                                                 GROUP BY ST_CODE)
                                         WHERE DVRY_PATH_1_CNT &gt; 1 ) )
                            OR ( NULL IS NOT NULL
                                   AND NULL = '3'
                                   AND A.ST_CODE IN(SELECT ST_CODE
                                          FROM (SELECT /*+ no_merge */ST_CODE,
                                                       SUM(DVRY_END_CNT) DVRY_END_CNT
                                                  FROM MN_ST_ST_SALE_DAILY
                                                 WHERE LOG_DATE &gt;= TO_CHAR(SYSDATE - 2, 'YYYYMMDD')
                                                 GROUP BY ST_CODE)
                                         WHERE DVRY_END_CNT &gt; 1 ) ) )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND A.BIZNUM_AUTH_TYPE = NULL ) )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND NULL = 'R'
                                   AND A.VAN_TYPE_STR = NULL )
                            OR (NULL IS NOT NULL
                                   AND NULL = 'N'
                                   AND A.VAN_TYPE_STR IS NULL)
                            OR (NULL IS NOT NULL
                                   AND NULL = 'Y'
                                   AND A.VAN_TYPE_STR IS NOT NULL
                                   AND A.VAN_TYPE_STR != 'R') )
                   AND ( (NULL IS NULL
                                   AND 1 = 1)
                            OR (NULL IS NOT NULL
                                   AND NULL = 'Y'
                                   AND E.DVRY_TAX_YN != 'N')
                            OR (NULL IS NOT NULL
                                   AND NULL = 'N'
                                   AND E.DVRY_TAX_YN = 'N') )
                 ORDER BY A.ST_CODE DESC )
         WHERE ROWNUM &lt;= 30 )
 WHERE RN &gt;= 1;</value>
            </setting>
            <setting name="QueryArguments2" serializeAs="String">
                <value />
            </setting>
            <setting name="FetchSize2" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="Weight2" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UseQuery3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Query3" serializeAs="String">
                <value>SELECT WK_CODE ,
       HD_CODE,
       BR_CODE,
       ST_CODE,
       WK_ATTEND_CD,
       DATA_STATUS ,
       CASH_WK,
       CASH_DEPOSIT,
       TO_CHAR(SYNC_DATE, 'YYYYMMDDHH24MISS') SYNC_DATE,
       WK_NAME,
       WK_BIZ_NUM ,
       WK_AUTH_TEL,
       WK_TEL,
       SHARE_YN,
       NO_SHARE_TIME,
       ONCE_CTH_CNT ,
       GRADE_CNT,
       GRADE_SUM,
       FIND_RANGE,
       FIND_DVRY_DISTANCE,
       DVRY_TYPE_CD ,
       CASH_OSTD,
       FN_SY_GET_WK_GRADE_TIME(GRADE_CNT, GRADE_SUM) GRADE_TIME,
       GRADE_CNT,
       GRADE_SUM
  FROM MN_GR_WK
 WHERE SYNC_DATE &gt;=  sysdate-:1/(24*60*60);</value>
            </setting>
            <setting name="QueryArguments3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FetchSize3" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="Weight3" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UseQuery4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Query4" serializeAs="String">
                <value>SELECT /*+ RULE */A.ORD_NO ,
       A.ORD_TODAY_NO,
       A.ORD_TYPE_CD,
       A.ORD_STATUS_CD,
       A.ORD_DATE,
       A.TAKEOUT_YN ,
       A.EA_ADDR_4,
       A.EA_ADDR_5,
       A.ORD_AMT,
       A.SRV_AMT,
       A.DVRY_AMT ,
       A.DVRY_DISTANCE DISTANCE,
       A.READY_TIME,
       A.DVRY_CNT,
       A.ORD_TODAY_ALL_NO,
       A.TAKEOUT_DATE ,
       A.ORD_CU_TEL,
       A.PAY_TYPE_CD,
       A.ARR_TIME,
       B.TRAN_TYPE,
       A.DVRY_EX_CHARGE ,
       A.ORD_PATH_CD,
       A.ORD_ST_CODE,
       A.XY_ACC_TYPE,
       A.CHARGE_TYPE,
       A.END_DATE ,
       A.CANCEL_DATE,
       B.ORD_BR_CODE,
       B.CTH_BR_CODE,
       A.CTH_WK_NAME,
       A.EA_ADDR_6 ,
       A.EA_ADDR_7,
       A.DVRY_TYPE_CD,
       A.CTH_WK_ARR_TIME,
       A.CTH_DATE,
       A.MOD_DATE ,
       A.READY_CHANGE_DATE,
       A.CTH_DVRY_TYPE_CD,
       A.DVRY_LOCK_TIME,
       A.ST_DVRY_TYPE_CD,
       B.CTH_ST_CODE ,
       A.PICKUP_DATE,
       A.SA_APP_ADDR,
       A.ORD_ST_NAME,
       A.ORD_MASTER_ST_CODE,
       B.CTH_MNG_BR_CODE ,
       A.READY_CTH_YN,
       A.SA_LAT_Y,
       A.SA_LNG_X,
       A.POS_ORD_CODE,
       B.EA_ADDR_10 ,
       A.CTH_WK_CODE,
       A.CU_050_NUM,
       A.CTH_WK_ARR_DATE,
       A.ORG_PAY_TYPE,
       A.ORG_ORD_NO ,
       A.EA_LAT_Y,
       A.EA_LNG_X,
       A.ORG_ORD_PATH_CD,
       A.PUT_USER_ID,
       A.CTH_WK_TEL ,
       A.DVRY_MNG_TYPE,
       A.ORD_MEMO,
       A.CHARGE_HISTORY,
       B.EA_ADDR_STR,
       A.DVRY_GRP_TYPE ,
       A.CTH_WK_GOODS_PAY_TYPE
  FROM MN_A1_TODAY A,
       (SELECT /*+ INDEX(MN_A1_TODAY_ADD MN_A1_TODAY_ADD_IX_1) */ORD_NO,
               ORD_BR_CODE,
               CTH_BR_CODE,
               CTH_ST_CODE,
               CTH_MNG_BR_CODE,
               EA_ADDR_10,
               EA_ADDR_STR,
               TRAN_TYPE
          FROM MN_A1_TODAY_ADD
         WHERE ORD_BR_CODE = 'BA980'
         UNION ALL
SELECT /*+ INDEX(MN_A1_TODAY_ADD MN_A1_TODAY_ADD_IX_4) */ORD_NO,
               ORD_BR_CODE,
               CTH_BR_CODE,
               CTH_ST_CODE,
               CTH_MNG_BR_CODE,
               EA_ADDR_10,
               EA_ADDR_STR,
               TRAN_TYPE
          FROM MN_A1_TODAY_ADD
         WHERE ST_DVRY_BR_CODE = 'BA980'
           AND ORD_BR_CODE NOT IN ('BA980')
         UNION ALL
SELECT /*+ INDEX(MN_A1_TODAY_ADD MN_A1_TODAY_ADD_IX_5) */ORD_NO,
               ORD_BR_CODE,
               CTH_BR_CODE,
               CTH_ST_CODE,
               CTH_MNG_BR_CODE,
               EA_ADDR_10,
               EA_ADDR_STR,
               TRAN_TYPE
          FROM MN_A1_TODAY_ADD
         WHERE CTH_MNG_BR_CODE = 'BA980'
           AND ORD_BR_CODE NOT IN ('BA980')
           AND ST_DVRY_BR_CODE NOT IN ('BA980')
         UNION ALL
SELECT /*+ PUSH_SUBQ INDEX(MN_A1_TODAY_ADD MN_A1_TODAY_ADD_PK) */ORD_NO,
               ORD_BR_CODE,
               CTH_BR_CODE,
               CTH_ST_CODE,
               CTH_MNG_BR_CODE,
               EA_ADDR_10,
               EA_ADDR_STR,
               TRAN_TYPE
          FROM MN_A1_TODAY_ADD
         WHERE ORD_NO IN (SELECT ORD_NO
                  FROM MN_A1_TODAY_CTH_SHARE
                 WHERE SH_MNG_BR_CODE = 'BA980')
           AND ORD_BR_CODE NOT IN ('BA980')
           AND ST_DVRY_BR_CODE NOT IN ('BA980') ) B
 WHERE A.ORD_NO = B.ORD_NO ;</value>
            </setting>
            <setting name="QueryArguments4" serializeAs="String">
                <value />
            </setting>
            <setting name="FetchSize4" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="Weight4" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UseQuery5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Query5" serializeAs="String">
                <value>SELECT P.ORD_NO ,
       P.ORD_TODAY_ALL_NO,
       P.ORD_STATUS_CD,
       P.CHARGE_TYPE,
       P.PAY_TYPE_CD,
       P.DVRY_AMT ,
       P.DVRY_EX_CHARGE,
       TO_CHAR(P.ORD_DATE, 'YYYYMMDDHH24MISS') ORD_DATE,
       TO_CHAR(P.READY_CHANGE_DATE, 'YYYYMMDDHH24MISS') READY_CHANGE_DATE ,
       TO_CHAR(P.CTH_WK_ARR_DATE, 'YYYYMMDDHH24MISS') CTH_WK_ARR_DATE,
       TO_CHAR(P.PICKUP_DATE, 'YYYYMMDDHH24MISS') PICKUP_DATE ,
       TO_CHAR(P.END_DATE, 'YYYYMMDDHH24MISS') END_DATE,
       TO_CHAR(P.CANCEL_DATE, 'YYYYMMDDHH24MISS') CANCEL_DATE,
       TRUNC(P.DVRY_DISTANCE / 1000, 1) DVRY_DISTANCE,
       P.SA_APP_ADDR ,
       P.EA_ADDR_STR EA_ADDR ,
       P.READY_CTH_YN,
       NVL(P.READY_TIME, 0) READY_TIME,
       P.SA_LAT_Y,
       P.SA_LNG_X,
       P.EA_LAT_Y ,
       P.EA_LNG_X,
       TO_CHAR(P.CTH_DATE, 'YYYYMMDDHH24MISS') CTH_DATE,
       P.ORG_PAY_TYPE,
       P.ORG_ORD_NO,
       P.ST_DVRY_TYPE_CD ,
       P.ORD_MEMO,
       P.DVRY_TYPE_CD,
       P.CTH_DVRY_TYPE_CD,
       P.CTH_WK_CODE,
       P.MOD_USER_ID ,
       TO_CHAR(P.MOD_DATE, 'YYYYMMDDHH24MISS') MOD_DATE,
       P.DVRY_LOCK_TIME,
       P.ORD_MASTER_ST_CODE ,
       P.VAN_TYPE_STR ARR_VAN_TYPE_CD,
       P.CHARGE_HISTORY,
       P.DVRY_GRP_TYPE,
       TO_CHAR(P.MOD_DATE, 'YYYYMMDDHH24MISSFF3') MOD_DATE_STAMP,
       P.PRE_CTH_YN ,
       P.TAKEOUT_YN,
       P.CTH_WK_GOODS_PAY_TYPE,
       P.MOD_SEQ_NO
  FROM (SELECT /*+ LEADING(SUB) INDEX(A MN_A1_TODAY_PK) */A.ORD_NO,
               A.ORD_TODAY_ALL_NO,
               A.ORD_STATUS_CD,
               A.CHARGE_TYPE,
               A.PAY_TYPE_CD,
               A.DVRY_AMT,
               A.DVRY_EX_CHARGE ,
               A.ORD_DATE,
               A.READY_CHANGE_DATE,
               A.CTH_WK_ARR_DATE,
               A.PICKUP_DATE,
               A.END_DATE,
               A.CANCEL_DATE,
               A.DVRY_DISTANCE,
               DECODE(A.SA_APP_ADDR, NULL, A.ORD_ST_NAME, A.SA_APP_ADDR) SA_APP_ADDR ,
               A.EA_ADDR_3,
               A.EA_ADDR_4,
               B.EA_ADDR_11,
               B.EA_ADDR_9,
               A.EA_ADDR_6,
               B.EA_ADDR_12,
               B.EA_ADDR_10,
               A.EA_ADDR_5,
               A.EA_ADDR_7 ,
               A.READY_CTH_YN,
               A.READY_TIME,
               A.SA_LAT_Y,
               A.SA_LNG_X,
               A.EA_LAT_Y,
               A.EA_LNG_X,
               A.CTH_DATE,
               A.ORD_TODAY_ADD_NO,
               A.ORG_PAY_TYPE,
               A.ORG_ORD_NO,
               A.ST_DVRY_TYPE_CD,
               A.ORD_MEMO ,
               A.DVRY_TYPE_CD,
               A.CTH_DVRY_TYPE_CD,
               A.CTH_WK_CODE,
               A.MOD_USER_ID,
               A.MOD_DATE,
               A.DVRY_LOCK_TIME,
               A.ORD_MASTER_ST_CODE,
               A.ORD_ST_CODE,
               B.EA_ADDR_STR,
               B.VAN_TYPE_STR ,
               A.CHARGE_HISTORY,
               A.DVRY_GRP_TYPE,
               A.PRE_CTH_YN,
               A.TAKEOUT_YN,
               A.CTH_WK_GOODS_PAY_TYPE,
               A.MOD_SEQ_NO
          FROM MN_A1_TODAY A,
               MN_A1_TODAY_ADD B
         WHERE A.ORD_NO = B.ORD_NO
           AND A.ORD_STATUS_CD = '2001'
           AND A.TAKEOUT_YN = 'N'
           AND A.ORD_NO IN (SELECT /*+ QB_NAME(SUB) */ORD_NO
                  FROM MN_A1_TODAY_CTH_SHARE
                 WHERE SH_DVRY_TYPE_CD = '1608' )
         UNION ALL
SELECT /*+ INDEX(A MN_A1_TODAY_IX_3) */A.ORD_NO,
               A.ORD_TODAY_ALL_NO,
               A.ORD_STATUS_CD,
               A.CHARGE_TYPE,
               A.PAY_TYPE_CD,
               A.DVRY_AMT,
               A.DVRY_EX_CHARGE ,
               A.ORD_DATE,
               A.READY_CHANGE_DATE,
               A.CTH_WK_ARR_DATE,
               A.PICKUP_DATE,
               A.END_DATE,
               A.CANCEL_DATE,
               A.DVRY_DISTANCE,
               DECODE(A.SA_APP_ADDR, NULL, A.ORD_ST_NAME, A.SA_APP_ADDR) SA_APP_ADDR ,
               A.EA_ADDR_3,
               A.EA_ADDR_4,
               B.EA_ADDR_11,
               B.EA_ADDR_9,
               A.EA_ADDR_6,
               B.EA_ADDR_12,
               B.EA_ADDR_10,
               A.EA_ADDR_5,
               A.EA_ADDR_7 ,
               A.READY_CTH_YN,
               A.READY_TIME,
               A.SA_LAT_Y,
               A.SA_LNG_X,
               A.EA_LAT_Y,
               A.EA_LNG_X,
               A.CTH_DATE,
               A.ORD_TODAY_ADD_NO,
               A.ORG_PAY_TYPE,
               A.ORG_ORD_NO,
               A.ST_DVRY_TYPE_CD,
               A.ORD_MEMO ,
               A.DVRY_TYPE_CD,
               A.CTH_DVRY_TYPE_CD,
               A.CTH_WK_CODE,
               A.MOD_USER_ID,
               A.MOD_DATE,
               A.DVRY_LOCK_TIME,
               A.ORD_MASTER_ST_CODE,
               A.ORD_ST_CODE,
               B.EA_ADDR_STR,
               B.VAN_TYPE_STR ,
               A.CHARGE_HISTORY,
               A.DVRY_GRP_TYPE,
               A.PRE_CTH_YN,
               A.TAKEOUT_YN,
               A.CTH_WK_GOODS_PAY_TYPE,
               A.MOD_SEQ_NO
          FROM MN_A1_TODAY A,
               MN_A1_TODAY_ADD B
         WHERE A.ORD_NO = B.ORD_NO
           AND A.ORD_STATUS_CD IN ('3001',
                       '3003',
                       '4001',
                       '4002')
           AND A.CTH_WK_CODE = 'W03153' ) P;</value>
            </setting>
            <setting name="QueryArguments5" serializeAs="String">
                <value />
            </setting>
            <setting name="FetchSize5" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="Weight5" serializeAs="String">
                <value>20</value>
            </setting>
        </OraclePerfTest.Properties.Settings>
    </userSettings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
</configuration>